{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div style="text-align: center; margin-top: -1rem; margin-bottom: -1rem;">
          <!-- <div class="title-bordered mb-4"> -->
          <!-- <div class="title-bordered mb-5 d-flex align-items-center"> -->
            <h1 class="h1">{{ .Title }}</h1>
            <!-- <ul class="list-inline social-icons ms-auto me-3 d-none d-sm-block">
              {{ range .Params.social }}
                <li class="list-inline-item">
                  <a href="{{ .link }}"><i class="{{ .icon }}"></i></a>
                </li>
              {{ end }}
            </ul> -->
          </div>

          {{ with .Params.Image }}
            {{ partial "image.html" (dict "Src" . "Alt" "author" "Class" `w-100 mb-4 rounded-lg`) }}
          {{ end }}


          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
