{{ define "main" }}
<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq
.Section "categories") (eq .Section "tags") }}
<section class="section-sm pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- <div class="title"> -->
        <!-- <div class="title-bordered"> -->
        <div style="text-align: center;">
          <h1>
            <!-- <h1 class="" style="font-size: 2.6rem;"> -->
            <!-- <h1 class="h4 fw-normal"> -->
            <!-- Showing items from -->
            <span class="text-primary">{{ .Title }}</span>
          </h1>
        </div container-flex>
        <div class="category-cover-image" style="margin-top: -2rem; margin-bottom: 1.2rem;">
          {{ $imagePath := printf "/images/covers/%s.jpg" (urlize .Title) }}
          {{ partial "image.html" (dict "Src" $imagePath "Context" .Page ) }}
        </div>
      </div>
    </div>


    <div class="category-text">
      <i class="fas fa-quote-left category-quote-left"></i>
      <!-- Get content dynamically to match the Category displayed -->
      <!-- Determine the file path based on the category title -->
      {{ $filePath := printf "static/countries/%s.txt" (urlize .Title) }}
      {{ if (fileExists $filePath) }}
      <!-- {{ $text := readFile $filePath }} -->
      {{ $text := readFile $filePath | markdownify }}
      <!-- <div>{{ $text | safeHTML }}</div> -->
      <div class="category-markdown-content">{{ $text | markdownify }}</div>

      <i class="fas fa-quote-right category-quote-right"></i>
      {{ else }}
      <div>No content available for this category.</div>
      {{ end }}
    </div>

  </div>
  </div>
  </div>

  </div>
  </div>
  </div>
</section>
{{ .Scratch.Set "where" .Data.Pages }}
{{ partial "default.html" . }}
<!-- regular page -->
{{ else }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-bordered mb-5 d-flex align-items-center">
          <h1 class="h4">{{ .Title }}</h1>
        </div>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}