/*  typography */

body {
  line-height: 1.7;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-size: 1rem;
  // font-size: 0.875rem;
  margin-top: -50px;
}

p,
.paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 1rem;
  // font-size: 0.875rem;
  line-height: 1.7;
  font-family: $font-primary;
  text-align: justify; // added on 29/12/2023
}


// h1,

h2,
h3,
h4,
h5,
h6 {
  color: $color_primary;
  // color: $text-dark;
  font-family: $font-secondary;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.post-title {
  color: $color_primary;
  // color: $text-dark;
  font-family: $font-secondary;
  font-weight: 600;
  // line-height: 1.2;
  text-transform: uppercase;
  // font-size: 1.2rem;

}


// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   background: $light;
//   padding: 10px 25px;
//   margin-bottom: 0;
//   border-radius: inherit;
//   display: inline-block;
// }



// List in descending order to prevent extra sort function
$type-levels: 6, 5, 4, 3, 2, 1;

@each $level in $type-levels {
  $font-size: $font-size * $font-scale;

  // Output heading styles
  h#{$level},
  .h#{$level} {
    font-size: calc(#{$font-size} * 0.8);
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    &:not(h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
      font-size: calc(#{$font-size} * 1);
    }
  }
}

h2 {
  margin-top: 3rem; /* or rem */
}


// Quote shortcode
.quote {
  position: relative; 
  margin: 10px 0; 
  box-sizing: border-box;
  background-color: transparent !important;
  text-align: center !important;
}
.shortcode-quote-main-div {
  background-color: white !important;
  position: relative; 
  margin: 10px 0; 
  box-sizing: border-box;
}
.shortcode-quote-text {
  color: $color_primary !important;
  font-weight: bold;
  font-size: 1.2rem;
}
.shortcode-quote-icon-left {
  color: $color_primary;
}
.shortcode-quote-icon-right {
  color: $color_primary;
  position: absolute;
  bottom: 10%;
  right: 0;
}



// LINKS
.special-link {
  /* Styles for links inside paragraphs in Markdown content */
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.markdown p a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: orange;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

.markdown p a:hover, .markdown p a:focus {
  color: black;
}

.markdown p a:hover::after, .markdown p a:focus::after {
  height: calc(100% - 0.4em);
  bottom: 100%;
  animation: slideUp 0.3s ease forwards;
}

@keyframes slideUp {
  from {
    bottom: 0;
    height: 3px;
  }
  to {
    bottom: 100%;
    height: calc(100% - 0.4em);
  }
}
